.hover-text {
  position: relative;
  display: inline-block;
}
.hover-text::after {
  content: attr(data-hover-text);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hover-text.active::after,
.hover-text:hover::after {
  opacity: 1;
}
